<h1>Horários</h1>
<% if @subsidiary.schedule %>
  <p><%= "#{Schedule.human_attribute_name :monday}: #{@subsidiary.schedule.monday}" %></p>
  <p><%= "#{Schedule.human_attribute_name :tuesday}: #{@subsidiary.schedule.tuesday}" %></p>
  <p><%= "#{Schedule.human_attribute_name :wednesday}: #{@subsidiary.schedule.wednesday}" %></p>
  <p><%= "#{Schedule.human_attribute_name :thursday}: #{@subsidiary.schedule.thursday}" %></p>
  <p><%= "#{Schedule.human_attribute_name :friday}: #{@subsidiary.schedule.friday}" %></p>
  <p><%= "#{Schedule.human_attribute_name :saturday}: #{@subsidiary.schedule.saturday}" %></p>
  <p><%= "#{Schedule.human_attribute_name :sunday}: #{@subsidiary.schedule.sunday}" %></p>
  <p><%= "#{Schedule.human_attribute_name :holidays}: #{@subsidiary.schedule.holidays}" %></p>
<% else %>
  <p>Ainda não há horários cadastrados na sua filial. <%= link_to 'Clique aqui para defini-los agora', new_subsidiary_schedule_path(@subsidiary) %></p>
<% end %>