<h1>Nova Filial</h1>

<% @subsidiary.errors.full_messages.each do |error| %>
  <p>
    <%= error %>
  </p>
<% end %>


<%= form_with model: @subsidiary, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :cnpj %>
  <%= f.text_field :cnpj %>
  <%= f.label :address %>
  <%= f.text_field :address %>
  <%= f.label :image1 %>
  <%= f.file_field :image1 %>
  <%= f.label :image2 %>
  <%= f.file_field :image2 %>
  <%= f.label :image3 %>
  <%= f.file_field :image3 %>
  <%= f.submit %>
<% end %>