<%= link_to 'Voltar', subsidiary_banned_customers_path(@banned_customer.subsidiary) %>
<h1>Clientes Banidos</h1>

<dl>
  <dt><%= BannedCustomer.human_attribute_name(:cpf) %></dt>
  <dd><%= @banned_customer.cpf %></dd>
  <dt><%= BannedCustomer.human_attribute_name(:reason) %></dt>
  <dd><%= @banned_customer.reason %></dd>
  <dt><%= BannedCustomer.human_attribute_name(:banned_at) %></dt>
  <dd><%= l @banned_customer.banned_at, format: :short %></dd>
  <dt><%= BannedCustomer.human_attribute_name(:user) %></dt>
  <dd><%= @banned_customer.user.email %></dd>
</dl>
