<%= form_with url: search_enrollments_path, method: :get, local: true do |f| %>
  <%= f.label :q, 'Busca de matrículas' %>
  <%= f.text_field :q %>
  <%= f.submit 'Buscar' %>
<% end %>

<% if @enrollments.empty? %>
  <h3>Não há matriculas cadastradas.</h3>
<% end %>
<ul>
  <% @enrollments.each do |enrollment| %>
    <li>
      <%= link_to enrollment.customer_name, subsidiary_enrollment_path(enrollment.subsidiary.id, enrollment.id) %>
      <%= enrollment.token %>
      <%= enrollment.customer_cpf %>
    </li>
  <% end %>
</ul>
