
<%= form_with model:[@subsidiary, @subsidiary_product], local: true do |f|%>

  <% @subsidiary_product.errors.full_messages.each do |error| %>
    <p><%= error %></p>
  <% end %>

  <div>
    <%= f.label :product_id%>
    <%= f.collection_select(:product_id, @products, :id, :name, prompt: 'Escolha um produto')%>
  </div>

  <div>
    <%= f.label :final_price%>
    <%= f.text_field :final_price%>
  </div>

  <div>
    <%= f.label :status%>
    <%= f.select(:status, SubsidiaryProduct.statuses.keys.map { |key| [SubsidiaryProduct.human_attribute_name("status.#{key}"), key] })%>
  </div>

  <div>
    <%= f.submit "Confirmar"%>
  </div>

<% end %>