<%= form_with model: @plan, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :default_price %>
    <%= f.number_field :default_price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :minimum_period %> (meses)
    <%= f.number_field :minimum_period, class: 'form-control' %>
  </div>
  <%= f.submit 'Enviar', class: 'btn btn-primary' %>
<% end %>
