<%= form_with model: @plan, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <div>
  <%= f.label :default_price %>
  <%= f.number_field :default_price %>
  </div>
  <div>
  <%= f.label :minimum_period %> (meses)
  <%= f.number_field :minimum_period %>
  </div>
  <div>
  <%= f.submit 'Enviar' %>
  </div>
<% end %>