<!DOCTYPE html>
<html>
  <head>
    <title>EspertoFitFiliais</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    
    <% flash.each do |key, value| %>
      <p class="<%= flash_class(key)%> alert text-center">
        <%= value %>
      </p>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
